<html>
  <head><link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>원격 알리미 서비스 관리</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
a:link { color: red; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}
</style>

  </head>
  <body>
  <center>
    <div>
	<a href="{{ url_for('main.index') }}">홈</a>
	<a href="{{ url_for('sub2.lotto') }}">로또번호</a>&nbsp;
	<a href="{{ url_for('sub2.menu') }}">점심메뉴</a>&nbsp;
	<a href="{{ url_for('sub2.kospi') }}">코스피</a>&nbsp;
	{% if session.get('logFlag') %}
	<a href="{{ url_for('webtoon.second') }}">웹툰다운로드</a>&nbsp;
	<a href="{{ url_for('sub3.second') }}">프로그램</a>&nbsp;
	<a href="{{ url_for('sub4.second') }}">재고관리</a>&nbsp;
	<a href="{{ url_for('main.log') }}">로그</a>&nbsp;
	<a href="{{ url_for('main.update') }}">업데이트</a>&nbsp;
	<a href="/user_info_edit/{{ session['idx'] }}">{{ session.get('userid')}}</a> |
	<a href="/logout">로그아웃</a>
	{% else %}
	<a href="/login">로그인</a>
	{% endif %}
	</div>
    <hr>
    
	{% block content %}{% endblock %}
	</center>
  </body>
</html>