{% extends "base.html" %}
{% block content %}
<html>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
      
    </head>
    <body>
<!-- edit.html -->
<div class="col-4 d-flex justify-content-center">
<br><center><h4>프로그램 수정</p>
<table border=1 width="600" align="center" style="border-collapse:collapse; border:1px gray solid;">
<form action="/sub3/edit_result" method="POST">
<center>
<tr>
<th align="center">프로그램명</th>
<td align="center" colspan="8"><input type="text" style="width:100%; border: 0;" name="FLASKAPPSNAME" value="{{ FLASKAPPSNAME }}" readonly></td>
</tr>
<tr>
<th align="center">실행</th>
<td align="center" colspan="8"><input type="text" style="width:100%; border: 0;" name="FLASKAPPS" value="{{ FLASKAPPS }}"></td>
</tr>
<tr>
<th align="center">시간(CRON)</th>
<td align="center" colspan="8"><input type="text" style="width:100%; border: 0;" name="FLASKTIME" value="{{ FLASKTIME }}"/></td>
</tr>
<tr>
<th colspan="4">텔레그램</th>
</tr>
<tr>
<th align="center">알림</th>
<th align="center">아이디</th>
<th align="center">토큰</th>
<th align="center">사용</th>
</tr>
<tr>
<td align="center"><select name="FLASKALIM">
    <option value="{{ FLASKALIM }}">{{ FLASKALIM }}</option>
    <option value="0">무음</option>
    <option value="1">소리</option>
</select></td>
<td align="center"><input type="text" style="width:100%; border: 0;" name="FLASKBOTID" value="{{ FLASKBOTID }}"></td>
<td align="center"><input type="text" style="width:100%; border: 0;" name="FLASKTOKEN" value="{{ FLASKTOKEN }}"></td>

<td align="center"><select name="FLASKTELGM">
    <option value="{{ FLASKTELGM }}">{{ FLASKTELGM }}</option>
    <option value="0">사용</option>
    <option value="1">안함</option>
</select></td>
</tr>
<tr>
<td align="center" colspan="8"><input type="submit" value="수정"><input type="button" value="취소" onclick="history.back(-1);">
</tr>
</table>
</center>
</div>
</form>
</body>
</html>
{% endblock %}

{# <input type="text" style="width:100%; border: 0;" name="FLASKALIM" value="{{FLASKALIM}}"/></td> #}