{% extends "base.html" %}
{% block content %}

<html>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
      
    </head>
    <body><br>
	<center><h4>현재 시스템 사양</p>
	<table border=1 width="600" align="center" style="border-collapse:collapse; border:1px gray solid;">
	<tr>
<td align="center">버젼</td>
<td align="center"> 현재 {{lines}} 최신 {{version}}  <button type='button' onclick="location.href='/update'">업데이트</button></td>
</tr>	
<tr>
<td align="center">현재시간</td>
<td align="center"> {{test}}</td>
</tr>	
<tr>
<td align="center"> 운영체제</td>
<td align="center"> {{oos}}</td>
</tr>
<tr>
<td align="center"> 프로세서</td>
<td align="center"> {{oocpu}}</td>
</tr>
<tr>
<td align="center"> 메모리</td>
<td align="center"> {{mem_percent}}</td>
</tr>
<tr>
<td align="center"> 디스크</td>
<td align="center"> {{disk_percent}}</td>
</tr>
</table><br>
<center><h4>현재 스케줄러에 있는 목록보기</p>
<table border=1 width="600" align="center" style="border-collapse:collapse; border:1px gray solid;">
<center>
<thead>
{% for row in sch_save %} 
<tr>
<th align="center" class="tg-0lax">{{row}}</th>
<td align="center" class="tg-0lax" colspan="2"><input type="button" value="스케줄러 취소" onclick="location.href='cancle/{{ row }}'">
</td>
</tr>
 {% endfor %}
    </body>
</html>

{% endblock %}