{% extends "base.html" %}
{% block content %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table class="tg" width="auto" border=1 align="center" style="border-collapse:collapse; border:1px gray solid;">

<center><h4>퀴즈정답 목록</p>
<thead>
<br>
<table class="tg" width="auto" border=1 align="center" style="border-collapse:collapse; border:1px gray solid;">
<thead>
<tr>
<th align="center" class="tg-baqh">제목</th>
<th align="center" class="tg-baqh" colspan="2">정답</th>
<th align="center" class="tg-baqh" colspan="3">날짜</th>
</tr>
{% for row in view %} 
<tr>
<th align="center" class="tg-0lax">{{row['TITLE']}}</th>
<td align="center" class="tg-0lax" colspan="2">{{row['MEMO']}}</td>
<td align="center" class="tg-0lax" colspan="3">{{row['DATE']}}</td>
</td>
</tr>
</form>
 {% endfor %}
</tbody>
</table>
{{ pagination.links | safe }}
{% endblock %}
