{% extends "base.html" %}
{% block content %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table class="tg" width="auto" border=1 align="center" style="border-collapse:collapse; border:1px gray solid;">

<center><h4>택배 리스트 목록</p>
<thead>
<br>
<table class="tg" width="auto" border=1 align="center" style="border-collapse:collapse; border:1px gray solid;">
<thead>
<tr>
<th align="center" class="tg-baqh">택배사</th>
<th align="center" class="tg-baqh" colspan="2">송장번호</th>
<td align="center" class="tg-baqh" colspan="3">배송완료여부</td>
<td align="center" class="tg-baqh" colspan="4"><br></td>
</tr>
{% for row in view %} 
<form method="GET">
<input type='hidden' name='telgm_token' value="{{ telgm_token }}">
<input type='hidden' name='telgm_botid' value="{{ telgm_botid }}">
<input type='hidden' name='telgm' value="{{ telgm }}">
<input type='hidden' name='telgm_alim' value="{{ telgm_alim }}">
<tr>
<th align="center" class="tg-0lax"><input type='text' name='PARCEL' value="{{row['PARCEL']}}" style="width:100%; border: 0;" readonly></th>
<th align="center" class="tg-0lax" colspan="2"><input type='text' name='NUMBER' value="{{row['NUMBER']}}" style="width:100%; border: 0;" readonly></th>
<td align="center" class="tg-0lax" colspan="3"><input type='text' name='COMPLTE' value="{{row['COMPLTE']}}" style="width:100%; border: 0;" readonly></td>
<td align="center" class="tg-0lax" colspan="4">
<input type="button" value="삭제" onclick="location.href='{{row['PARCEL']}}/{{row['NUMBER']}}/tracking_del'">
<input type="button" value="조회" onclick="location.href='{{row['PARCEL']}}/{{row['NUMBER']}}/{{ telgm_token }}/{{ telgm_botid }}/{{ telgm }}/{{ telgm_alim }}/tracking_one'">
<input type="button" value="수동완료" onclick="location.href='{{row['PARCEL']}}/{{row['NUMBER']}}/tracking_complte'">
</td>
</tr>
</form>
 {% endfor %}
</tbody>
</table>
{{ pagination.links | safe }}
{% endblock %}
